
.card{
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 0px;
  margin: 3px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  cursor: pointer;
}

.card:hover{
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);
  transform: translateY(-3px);
}

.card .card-image{
  height: auto;
  margin-bottom: -30px;
}

p{
  text-transform: capitalize;
}