
*{
background-color: rgb(255, 250, 243);
font-family: 'sans-serif';
font-size: 20px;
}

/* HEADER CSS */
.title{
  display: inline-flex;
  margin-left: 20%;
}
.title p{
  font-size: 60px;
  font-family: "Pokemon Solid";
}

/* POKEMON CARD CSS */
.card{
  border-radius: 10px;
  margin: 3px;
  display: inline-block;
  cursor: pointer;
}
.card:hover{
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);
  transform: translateY(-3px);
}
p{
  text-transform: capitalize;
}
h1{
  text-transform: capitalize;
  padding-left: 20px;
}
.logo{
  height: 150px;
  width: 400px;
}

/* DETAILS CSS */
.details-container h1{
  font-size: 40px;
}
.pokemon-info{
  display: flex;
}
.pokemon-details{
  flex: 1;
}
h2{
  text-transform: capitalize;
}
li{
  text-transform: capitalize;
  list-style-type: none;
  margin-left: -20px;
}
.pokemon-image{
  height: 250px;
  width: 250px;
}

/* MOVES CSS */
.moves-list li{
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #020101;
}
.moves-title{
  margin-left: 30px;
}

/* LOADING CSS */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinner {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* FANCY BUTTON */
button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}